{% extends 'CmsCoreBundle:App:components.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CmsCoreBundle/Resources/public/css/wizard.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@CmsCoreBundle/Resources/public/js/contentManager/wizard.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}
    {{ contentType.name|default('New')|title }} Content Type {{ parent() }}
{% endblock %}

{% block todo %}
    <nav class="todo">
        <div class="wizard-nav-name-container clearfix">
            <h4 class="contentType-name pull-left">{{ contentType.name|default('Content To Do List') }}</h4>
            <span class="pull-right"><i class="icon-list-ul icon-large"></i></span>
        </div>
        <ul>
            <li class="{% if contentType.name is defined %}todo-done{% endif %}" id="todo-basic-info">
                <div class="todo-icon"><i class="icon-info-sign"></i></div>
                <div class="todo-content">
                    <h4 class="todo-name">
                        <strong>Basic Info</strong>
                    </h4>
                    <span>Name, Slug, Description</span>
                </div>
            </li>
            <li class="{% if contentType and contentType.formats|length > 0 %}todo-done{% endif %}" id="todo-formats">
                <div class="todo-icon"><i class="icon-puzzle-piece"></i></div>
                <div class="todo-content">
                    <h4 class="todo-name">
                        <strong>Format</strong>
                    </h4>
                    Dynamic or Static?
                </div>
            </li>
            {% if contentType.formats is not defined or 'loop' in contentType.formats %}
                <li class="{% if contentType and contentType.formats|length > 1%}todo-done{% endif %}" id="todo-loop">
                    <div class="todo-icon"><i class="icon-list-alt"></i></div>
                    <div class="todo-content">
                        <h4 class="todo-name">
                            <strong>The Loops</strong>
                        </h4>
                        <span>Traverse Node Collections</span>
                    </div>
                </li>
                {% if contentType.loops|default()|length %}
                    {% for loopData in contentType.loops  %}
                        <h4 class="clearfix" style="margin-left: 72px;">
                            <a href="{{ path('cms_core.content_manager_wizard_loop', {'siteId': site.id, 'contentTypeId':contentType.id, 'domain':loopData.domain, 'locale': loopData.locale, 'slug':loopData.slug}) }}">
                                {{ loopData.domain }} {{ loopData.locale|default() }} {{ loopData.slug }}
                            </a>
                        </h4>
                    {% endfor %}
                {% endif %}
            {% elseif 'static' in contentType.formats %}
                <li class="{% if contentType %}todo-done{% endif %}" id="todo-static">
                    <div class="todo-icon"><i class="icon-list-alt"></i></div>
                    <div class="todo-content">
                        <h4 class="todo-name">
                            <strong>Static Page</strong>
                        </h4>
                        <span>Create the Template</span>
                    </div>
                </li>
            {% endif %}
            <li id="todo-complete">
                <div class="todo-icon"><i class="icon-trophy"></i></div>
                <div class="todo-content">
                    <h4 class="todo-name">
                        <strong>Complete</strong>
                    </h4>
                    <span>Save it, Ship it, Use it</span>
                </div>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block wizardHeader %}
    <div class="row-fluid wizard-header">
        <div class="span12 clearfix">
            <div class="progress pull-left span6">
                <div class="bar span6" style="width: {{ percentComplete }}%"></div>
            </div>
            <div class="span2 progress-label" id="primary-progress-label">
                <span class="percent-complete">{{ percentComplete }}%</span> Complete
            </div>
            <a href="{{ path('cms_core.content_manager_readAll', {'siteId':site.id}) }}" class="close close-wizard">&times;</a>
        </div>
    </div>
{% endblock %}