{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@CmsCoreBundle/Resources/public/css/welcome/index.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block welcomeHeader %}
    <div class="span pull-left">
        <a id="logo-name" href="{{ path('_welcome') }}">PipeStack</a>
        <a href="mailto:support@pipestack.com" class="topnav-anchor" style="margin-left: 72px;">Support</a>
        <a href="{{ path('welcome.pricing') }}" class="topnav-anchor">Pricing</a>
        <a href="{{ path('cms_core.developers') }}" class="topnav-anchor">Docs</a>
    </div>
    <div class="span pull-right">
        <span id='topnav-button-container' class="pull-right" style="position: relative; top: 22px">
            <a href="{{ path('login') }}" class="btn btn-large btn-inverse">Login</a>
            <a href="{{ path('cms_core.user_register') }}" class="btn btn-large btn-inverse">Sign up</a>
        </span>
    </div>
{% endblock %}

{% block signupBlocks %}
    <div id="signup-blocks">
        <div class="container">
            <div class="row">
                <section class="span4">
                    <div class='tile tile-signup'>
                        <h3>Try for Free</h3>
                        <p>Want to jump in? Start your 30 day free trial today. No payment information is required, just register and go.</p>
                        <a href="{{ path('cms_core.user_register', {'accountPlan':'free'}) }}" class="btn btn-xlarge btn-primary">Try for Free</a>
                    </div>
                </section>
                <section class="span4">
                    <div class="tile tile-signup">
                        <h3>Get Premium</h3>
                        <p>Sign up for a premium account and get your PipeStack instance today. Prices start at $60 per month for 15 gigs of storage.</p>
                        <a href="{{ path('cms_core.user_register', {'accountPlan':'premium'}) }}" class="btn btn-xlarge btn-info">Get Premium</a>
                    </div>
                </section>
                <section class="span4">
                    <div class="tile tile-signup">
                        <h3>Get Enterprise</h3>
                        <p>Sign up for an enterprise account for larger instances and priority customer support. Please <a href="mailto:support@pipestack.com">contact us</a> for more information. </p>
                        <a href="{{ path('cms_core.user_register', {'accountPlan':'enterprise'}) }}" class="btn btn-xlarge btn-danger"><span class="hidden-tablet">Get </span>Enterprise</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block welcomeFooter %}
    <div id="footer">
        <div class="container">
            <footer class="row">
                <ul>
                    <li><a href="#blog">blog</a></li>
                    <li><a href="{{ path('cms_core.developers') }}">docs</a></li>
                    <li><a href="mailto:support@pipestack.com">contact</a></li>
                    <li><a href="{{ path('welcome.pricing') }}">pricing</a></li>
                    <li><a href="http://demo.pipestack.com">mobile demo</a></li>
                </ul>
            </footer>
        </div>
    </div>
{% endblock %}