{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@CmsCoreBundle/Resources/public/css/welcome/index.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block welcomeHeader %}
    <div class="span pull-left">
        <a id="logo-name" href="{{ path('_welcome') }}">PipeStack</a>
        <a href="mailto:support@pipestack.com" class="topnav-anchor" style="margin-left: 72px;">Support</a>
        <a href="http://demo.pipestack.com" class="topnav-anchor">Mobile Demo</a>
        <a href="{{ path('cms_core.developers') }}" class="topnav-anchor">Docs</a>
    </div>
    <div class="span pull-right">
        <span id='topnav-button-container' class="pull-right" style="position: relative; top: 22px">
            <a href="{{ path('login') }}" class="btn btn-large btn-inverse">Login</a>
            <a href="{{ path('cms_core.user_register') }}" class="btn btn-large btn-inverse">Sign up</a>
        </span>
    </div>
{% endblock %}