{% extends 'CmsCoreBundle:Welcome:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CmsCoreBundle/Resources/public/css/welcome/index.css'
        filter='cssrewrite, ?yui_css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block title %}PipeStack CMS | Welcome{% endblock %}

{% block body %}
<div id='topnav-container'>
    <div class="container">
        <nav class="row">
            <div class="span4">
                <img src="/logo.png" alt="PipeStack" width="120" height="74" />
                <span id="logo-name" style="font-size:50px; position: relative; top: 10px; font-weight: bold;">PipeStack</span>
            </div>
            <div class="span4 offset4">
            <span id='topnav-button-container' class="pull-right" style="position: relative; top: 10px">
                <a href="{{ path('login') }}" class="btn btn-large btn-inverse">Login</a>
                <a href="#signup" class="btn btn-large btn-inverse">Sign up</a>
            </span>
            </div>
        </nav>
    </div>
</div>
<div id="primary-content">
    <div class="container">
        <section class="row">
            <div id='primary-image-wrapper' class="span6">
                <img src="/flat-ui/images/imac.png" alt="PipeStack CMS" width="570" height="472"/>
            </div>
            <div class="span6">
                <h1 id='primary-header'>PipeStack CMS</h1>
                <p>
                    Corned beef meatloaf jerky tail pastrami. Chuck tongue jowl pastrami pork belly. Cow bacon short loin filet mignon pancetta tongue pork loin. Ball tip pancetta tenderloin turducken turkey doner spare ribs leberkas pork swine cow sirloin tri-tip beef ribs. Ribeye t-bone tri-tip biltong. Shank swine jerky pork chop frankfurter strip steak capicola tail shoulder chuck shankle sausage flank. Tri-tip frankfurter shank, pastrami pork loin beef ribs fatback tongue
                </p>
                <div class="row">
                    <a href="#start" id="primary-cta" class="btn btn-xlarge btn-block btn-danger span4 offset1">Get Started For Free</a>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="features">
    <div class="container">
        <div class="row">
            <section class="span4">
                <div class="tile" id='fast-tile'>
                    <h2>Lightening Fast</h2>
                    <i class="icon-bolt icon-4x"></i>
                    <p>Bacon ipsum dolor sit amet ham hock ham brisket pork loin. Ball tip tail pancetta swine flank bacon. Biltong kiel basa swine tail. Ball tip tail pancetta. Ball tip tail Brisket.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="cloud-tile">
                    <h2>Cloud Hosted</h2>
                    <i class="icon-cloud icon-4x"></i>
                    <p>Bacon ipsum dolor sit amet ham hock ham brisket pork loin. Ball tip tail pancetta swine flank bacon. Biltong kiel basa swine tail. Ball tip tail pancetta. Ball tip tail Brisket.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="multilingual-tile">
                    <h2>Multi Lingual</h2>
                    <i class="icon-globe icon-4x"></i>
                    <p>Bacon ipsum dolor sit amet ham hock ham brisket pork loin. Ball tip tail pancetta swine flank bacon. Biltong kiel basa swine tail. Ball tip tail pancetta. Ball tip tail Brisket.</p>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="span4">
                <div class="tile" id="api-tile">
                    <h2>RESTful API</h2>
                    <i class="icon-magic icon-4x"></i>
                    <p>Bacon ipsum dolor sit amet ham hock ham brisket pork loin. Ball tip tail pancetta swine flank bacon. Biltong kiel basa swine tail. Ball tip tail pancetta. Ball tip tail Brisket.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="cog-tile">
                    <h2>New Technology</h2>
                    <i class="icon-cog icon-4x"></i>
                    <p>Bacon ipsum dolor sit amet ham hock ham brisket pork loin. Ball tip tail pancetta swine flank bacon. Biltong kiel basa swine tail. Ball tip tail pancetta. Ball tip tail Brisket.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="theme-tile">
                    <h2>Theme System</h2>
                    <i class="icon-heart icon-4x"></i>
                    <p>Bacon ipsum dolor sit amet ham hock ham brisket pork loin. Ball tip tail pancetta swine flank bacon. Biltong kiel basa swine tail. Ball tip tail pancetta. Ball tip tail Brisket.</p>
                </div>
            </section>
        </div>
    </div>
</div>
<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2>Who's Talking About PipeStack?</h2>
            </div>
        </div>
        <div class="row">
            <div class="quote-block">
                <div class="span2">
                    <img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>
                </div>
                <div class="span4">
                    <blockquote>
                        <i class="icon-quote-right icon-2x pull-right"></i>
                        <span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>
                        <small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>
                    </blockquote>
                </div>
            </div>
            <div class="quote-block">
                <div class="span2">
                    <img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>
                </div>
                <div class="span4">
                    <blockquote>
                        <i class="icon-quote-right icon-2x pull-right"></i>
                        <span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>
                        <small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="quote-block">
                <div class="span2">
                    <img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>
                </div>
                <div class="span4">
                    <blockquote>
                        <i class="icon-quote-right icon-2x pull-right"></i>
                        <span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>
                        <small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>
                    </blockquote>
                </div>
            </div>
            <div class="quote-block">
                <div class="span2">
                    <img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>
                </div>
                <div class="span4">
                    <blockquote>
                        <i class="icon-quote-right icon-2x pull-right"></i>
                        <span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>
                        <small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="signup-blocks">
    <div class="container">
        <div class="row">
            <section class="span4">
                <div class='tile tile-signup'>
                    <h3>Free</h3>
                    <p>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</p>
                    <a href="#singupFree" class="btn btn-xlarge btn-primary">Get Free</a>
                </div>
            </section>
            <section class="span4">
                <div class="tile tile-signup">
                    <h3>Premium</h3>
                    <p>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</p>
                    <a href="#singupFree" class="btn btn-xlarge btn-info">Get Premium</a>
                </div>
            </section>
            <section class="span4">
                <div class="tile tile-signup">
                    <h3>Enterprise</h3>
                    <p>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</p>
                    <a href="#singupFree" class="btn btn-xlarge btn-danger">Get Enterprise</a>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <footer class="row">
            <ul class="span4 offset4">
                <li><a href="#about">about</a></li>
                <li><a href="#jobs">jobs</a></li>
                <li><a href="#contact">contact</a></li>
                <li><a href="#features">testimonial</a></li>
                <li><a href="#blog">blog</a></li>
            </ul>
        </footer>
    </div>
</div>
{% endblock %}