{% extends 'CmsCoreBundle:Welcome:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@CmsCoreBundle/Resources/public/js/welcome/index.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}PipeStack CMS Backend Service | Welcome{% endblock %}

{% block metatags %}
    <meta name="description" content="PipeStack is a scalable and powerful content management service..">
{% endblock %}

{% block body %}
<div id='topnav-container'>
    <div class="container">
        <nav class="row">
            {% block welcomeHeader %}
                {{  parent() }}
            {% endblock %}
        </nav>
    </div>
</div>
<div id="primary-content">
    <div class="container">
        <section class="row">
            <div id='primary-image-wrapper' class="span6 hidden-phone">
                <img src="/flat-ui/images/imac.png" alt="PipeStack CMS" width="570" height="472"/>
            </div>
            <div class="span6">
                <h1 id='primary-header' style="font-size: 51px; line-height: 50px;">Content Management Redefined</h1>
                <div class="visible-phone" id="mobile-imac-container">
                    <img src="/flat-ui/images/imac.png" alt="PipeStack CMS" width="300" height="248"/>
                </div>
                <p style="padding: 20px 24px;">
                    PipeStack is a scalable and powerful content management service. We take care of the backend and you'll never have to worry about servers. Your data is delivered through a lightening fast API so you can build impressive mobile and web solutions for your content.
                </p>
                <a href="{{ path('cms_core.user_register') }}" id="primary-cta" class="btn btn-xlarge btn-danger" style="margin-top: 30px;">Try It Today For Free</a>
            </div>
        </section>
    </div>
</div>
<div id="features">
    <div class="container">
        <div class="row">
            <section class="span4">
                <div class="tile" id="multilingual-tile">
                    <h2>CMS Integration</h2>
                    <i class="icon-globe icon-4x"></i>
                    <p>Integrating your content management system can be done through the API. You can use your current CMS and PipeStack in parallel to bring your content to new levels.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id='fast-tile'>
                    <h2>Lightening Fast</h2>
                    <i class="icon-bolt icon-4x"></i>
                    <p>We focus on making your content load at lightening fast speeds. Our technology stack does the heavy lifting to deliver your data to you in no time.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="cog-tile">
                    <h2>Scalable</h2>
                    <i class="icon-cog icon-4x"></i>
                    <p>PipeStack's complete backend stack combines new cutting edge database and server technology to make your content scale cost effectively.</p>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="span4">
                <div class="tile" id="easy-to-use-tile">
                    <h2>Easy to Use</h2>
                    <i class="icon-thumbs-up icon-4x"></i>
                    <p>Whether you are creating new content with PipeStack or loading in content from your CMS, you'll find our interface initiative and wonderfully easy to use.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="mobile-tile">
                    <h2>Mobile Ready</h2>
                    <i class="icon-tablet icon-4x"></i>
                    <p>PipeStack is well suited to power your content oriented mobile app. We help you deliver the best user experience through fast load times and low overhead.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="api-tile">
                    <h2>RESTful API</h2>
                    <i class="icon-magic icon-4x"></i>
                    <p>We deliver your content's data through a RESTful web API. The interface is simple and intuitive. Checkout the <a href="{{ path('cms_core.developers') }}">docs</a>, you'll  be up and running in no time.</p>
                </div>
            </section>
        </div>
    </div>
</div>
<section id="testimonials">
    <div class="container">
        {#<div class="row row-title">#}
            {#<div class="span12">#}
                {#<h2>Who's Talking About PipeStack?</h2>#}
            {#</div>#}
        {#</div>#}
        {#<div class="row row-top">#}
            {#<div class="quote-block">#}
                {#<div class="span2">#}
                    {#<img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>#}
                {#</div>#}
                {#<div class="span4">#}
                    {#<blockquote>#}
                        {#<i class="icon-quote-right icon-2x pull-right"></i>#}
                        {#<span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>#}
                        {#<small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>#}
                    {#</blockquote>#}
                {#</div>#}
            {#</div>#}
            {#<div class="quote-block">#}
                {#<div class="span2">#}
                    {#<img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>#}
                {#</div>#}
                {#<div class="span4">#}
                    {#<blockquote>#}
                        {#<i class="icon-quote-right icon-2x pull-right"></i>#}
                        {#<span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>#}
                        {#<small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>#}
                    {#</blockquote>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="quote-block">#}
                {#<div class="span2">#}
                    {#<img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>#}
                {#</div>#}
                {#<div class="span4">#}
                    {#<blockquote>#}
                        {#<i class="icon-quote-right icon-2x pull-right"></i>#}
                        {#<span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>#}
                        {#<small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>#}
                    {#</blockquote>#}
                {#</div>#}
            {#</div>#}
            {#<div class="quote-block">#}
                {#<div class="span2">#}
                    {#<img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>#}
                {#</div>#}
                {#<div class="span4">#}
                    {#<blockquote>#}
                        {#<i class="icon-quote-right icon-2x pull-right"></i>#}
                        {#<span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>#}
                        {#<small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>#}
                    {#</blockquote>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    </div>
</section>
{% block signupBlocks %}
    {{ parent() }}
{% endblock %}
{% block welcomeFooter %}
    {{ parent() }}
{% endblock %}
{% endblock %}