{% extends 'CmsCoreBundle:Welcome:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@CmsCoreBundle/Resources/public/js/welcome/index.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}PipeStack CMS | Welcome{% endblock %}

{% block body %}
<div id='topnav-container'>
    <div class="container">
        <nav class="row">
            {% block welcomeHeader %}
                {{  parent() }}
            {% endblock %}
        </nav>
    </div>
</div>
<div id="primary-content">
    <div class="container">
        <section class="row">
            <div id='primary-image-wrapper' class="span6 hidden-phone">
                <img src="/flat-ui/images/imac.png" alt="PipeStack CMS" width="570" height="472"/>
            </div>
            <div class="span6">
                <h1 id='primary-header'>PipeStack</h1>
                <div class="visible-phone" id="mobile-imac-container">
                    <img src="/flat-ui/images/imac.png" alt="PipeStack CMS" width="300" height="248"/>
                </div>
                <p>
                    Corned beef meatloaf jerky tail pastrami. Chuck tongue jowl pastrami pork belly. Cow bacon short loin filet mignon pancetta tongue pork loin. Ball tip pancetta tenderloin turducken turkey doner spare ribs leberkas pork swine cow sirloin tri-tip beef ribs. Ribeye t-bone tri-tip biltong. Shank swine jerky pork chop frankfurter strip steak capicola tail shoulder chuck shankle sausage flank. Tri-tip frankfurter shank, pastrami pork loin beef ribs fatback tongue
                </p>

                    <a href="{{ path('cms_core.user_register') }}" id="primary-cta" class="btn btn-xlarge btn-danger">Get Started For Free</a>

            </div>
        </section>
    </div>
</div>
<div id="features">
    <div class="container">
        <div class="row">
            <section class="span4">
                <div class="tile" id='fast-tile'>
                    <h2>Lightening Fast</h2>
                    <i class="icon-bolt icon-4x"></i>
                    <p>Bacon ipsum dolor sit amet ham hock ham brisket pork loin. Ball tip tail pancetta swine flank bacon. Biltong kiel basa swine tail. Ball tip tail pancetta. Ball tip tail Brisket.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="cloud-tile">
                    <h2>Cloud Hosted</h2>
                    <i class="icon-cloud icon-4x"></i>
                    <p>Bacon ipsum dolor sit amet ham hock ham brisket pork loin. Ball tip tail pancetta swine flank bacon. Biltong kiel basa swine tail. Ball tip tail pancetta. Ball tip tail Brisket.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="api-tile">
                    <h2>RESTful API</h2>
                    <i class="icon-magic icon-4x"></i>
                    <p>Bacon ipsum dolor sit amet ham hock ham brisket pork loin. Ball tip tail pancetta swine flank bacon. Biltong kiel basa swine tail. Ball tip tail pancetta. Ball tip tail Brisket.</p>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="span4">
                <div class="tile" id="multilingual-tile">
                    <h2>Multi Lingual</h2>
                    <i class="icon-globe icon-4x"></i>
                    <p>Bacon ipsum dolor sit amet ham hock ham brisket pork loin. Ball tip tail pancetta swine flank bacon. Biltong kiel basa swine tail. Ball tip tail pancetta. Ball tip tail Brisket.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="cog-tile">
                    <h2><span id="new-tech-affix">New</span> Technology</h2>
                    <i class="icon-cog icon-4x"></i>
                    <p>Bacon ipsum dolor sit amet ham hock ham brisket pork loin. Ball tip tail pancetta swine flank bacon. Biltong kiel basa swine tail. Ball tip tail pancetta. Ball tip tail Brisket.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="theme-tile">
                    <h2>Theme System</h2>
                    <i class="icon-heart icon-4x"></i>
                    <p>Bacon ipsum dolor sit amet ham hock ham brisket pork loin. Ball tip tail pancetta swine flank bacon. Biltong kiel basa swine tail. Ball tip tail pancetta. Ball tip tail Brisket.</p>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="span4">
                <div class="tile" id="mobile-tile">
                    <h2>Mobile Ready</h2>
                    <i class="icon-tablet icon-4x"></i>
                    <p>Bacon ipsum dolor sit amet ham hock ham brisket pork loin. Ball tip tail pancetta swine flank bacon. Biltong kiel basa swine tail. Ball tip tail pancetta. Ball tip tail Brisket.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="multidomain-tile">
                    <h2>Multi Domain</h2>
                    <i class="icon-sitemap icon-4x"></i>
                    <p>Bacon ipsum dolor sit amet ham hock ham brisket pork loin. Ball tip tail pancetta swine flank bacon. Biltong kiel basa swine tail. Ball tip tail pancetta. Ball tip tail Brisket.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="easy-to-use-tile">
                    <h2>Easy to Use</h2>
                    <i class="icon-thumbs-up icon-4x"></i>
                    <p>Bacon ipsum dolor sit amet ham hock ham brisket pork loin. Ball tip tail pancetta swine flank bacon. Biltong kiel basa swine tail. Ball tip tail pancetta. Ball tip tail Brisket.</p>
                </div>
            </section>
        </div>
    </div>
</div>
<section id="testimonials">
    <div class="container">
        <div class="row row-title">
            <div class="span12">
                <h2>Who's Talking About PipeStack?</h2>
            </div>
        </div>
        <div class="row row-top">
            <div class="quote-block">
                <div class="span2">
                    <img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>
                </div>
                <div class="span4">
                    <blockquote>
                        <i class="icon-quote-right icon-2x pull-right"></i>
                        <span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>
                        <small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>
                    </blockquote>
                </div>
            </div>
            <div class="quote-block">
                <div class="span2">
                    <img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>
                </div>
                <div class="span4">
                    <blockquote>
                        <i class="icon-quote-right icon-2x pull-right"></i>
                        <span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>
                        <small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="quote-block">
                <div class="span2">
                    <img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>
                </div>
                <div class="span4">
                    <blockquote>
                        <i class="icon-quote-right icon-2x pull-right"></i>
                        <span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>
                        <small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>
                    </blockquote>
                </div>
            </div>
            <div class="quote-block">
                <div class="span2">
                    <img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>
                </div>
                <div class="span4">
                    <blockquote>
                        <i class="icon-quote-right icon-2x pull-right"></i>
                        <span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>
                        <small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="signup-blocks">
    <div class="container">
        <div class="row">
            <section class="span4">
                <div class='tile tile-signup'>
                    <h3>Free</h3>
                    <p>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</p>
                    <a href="{{ path('cms_core.user_register', {'account_type':'free'}) }}" class="btn btn-xlarge btn-primary">Get Free</a>
                </div>
            </section>
            <section class="span4">
                <div class="tile tile-signup">
                    <h3>Premium</h3>
                    <p>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</p>
                    <a href="{{ path('cms_core.user_register', {'account_type':'premium'}) }}" class="btn btn-xlarge btn-info">Get Premium</a>
                </div>
            </section>
            <section class="span4">
                <div class="tile tile-signup">
                    <h3>Enterprise</h3>
                    <p>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</p>
                    <a href="{{ path('cms_core.user_register', {'account_type':'enterprise'}) }}" class="btn btn-xlarge btn-danger"><span class="hidden-tablet">Get </span>Enterprise</a>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <footer class="row">
            <ul>
                <li><a href="#about">about</a></li>
                <li><a href="#jobs">jobs</a></li>
                <li><a href="#contact">contact</a></li>
                <li><a href="#features">testimonial</a></li>
                <li><a href="#blog">blog</a></li>
            </ul>
        </footer>
    </div>
</div>
{% endblock %}