{% extends 'CmsCoreBundle:Welcome:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@CmsCoreBundle/Resources/public/js/welcome/index.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}PipeStack CMS Backend Service | Welcome{% endblock %}

{% block metatags %}
    <meta name="description" content="PipeStack is a backend content management service used to create astonishing Web and jQuery Mobile Apps in no time. PipeStack is fast, scalable, easy to use.">
{% endblock %}

{% block body %}
<div id='topnav-container'>
    <div class="container">
        <nav class="row">
            {% block welcomeHeader %}
                {{  parent() }}
            {% endblock %}
        </nav>
    </div>
</div>
<div id="primary-content">
    <div class="container">
        <section class="row">
            <div id='primary-image-wrapper' class="span6 hidden-phone">
                <img src="/flat-ui/images/imac.png" alt="PipeStack CMS" width="570" height="472"/>
            </div>
            <div class="span6">
                <h1 id='primary-header'>PipeStack</h1>
                <div class="visible-phone" id="mobile-imac-container">
                    <img src="/flat-ui/images/imac.png" alt="PipeStack CMS" width="300" height="248"/>
                </div>
                <p style="padding: 16px 24px;">
                    PipeStack is a powerful new technology that helps you do amazing things with your content. Our backend CMS service makes it easy to turn your content into astonishing web and mobile apps. Create new content with our interface or integrate your current CMS.
                </p>
                <p style="padding: 16px;">
                    Give it a go and try it for free today.
                </p>
                <a href="{{ path('cms_core.user_register') }}" id="primary-cta" class="btn btn-xlarge btn-danger">Try It Today For Free</a>
            </div>
        </section>
    </div>
</div>
<div id="features">
    <div class="container">
        <div class="row">
            <section class="span4">
                <div class="tile" id='fast-tile'>
                    <h2>Lightening Fast</h2>
                    <i class="icon-bolt icon-4x"></i>
                    <p>We focus on making your content load at lightening fast speeds. Our technology stack does the heavy lifting to deliver your data to you in no time.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="mobile-tile">
                    <h2>jQuery Mobile</h2>
                    <i class="icon-tablet icon-4x"></i>
                    <p>PipeStack is well suited to power your jQuery Mobile app's backend. We help you deliver the best user experience through fast load times and low overhead.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="api-tile">
                    <h2>RESTful API</h2>
                    <i class="icon-magic icon-4x"></i>
                    <p>We deliver your content's data through a RESTful web API. The interface is simple and intuitive. Checkout the <a href="{{ path('cms_core.developers') }}">docs</a>, you'll  be up and running in no time.</p>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="span4">
                <div class="tile" id="easy-to-use-tile">
                    <h2>Easy to Use</h2>
                    <i class="icon-thumbs-up icon-4x"></i>
                    <p>Whether you are creating new content with PipeStack or loading in content from your CMS, you'll find our interface initiative and wonderfully easy to use.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="multilingual-tile">
                    <h2>CMS Integration</h2>
                    <i class="icon-globe icon-4x"></i>
                    <p>Integrating your content management system can be done through the API. Use your current CMS and PipeStack in parallel to bring your content to new levels.</p>
                </div>
            </section>
            <section class="span4">
                <div class="tile" id="cog-tile">
                    <h2><span id="new-tech-affix">New</span> Technology</h2>
                    <i class="icon-cog icon-4x"></i>
                    <p>PipeStack's complete technology stack combines new database technology with high end servers and powerful content delivery networks.</p>
                </div>
            </section>
        </div>
    </div>
</div>
<section id="testimonials">
    <div class="container">
        {#<div class="row row-title">#}
            {#<div class="span12">#}
                {#<h2>Who's Talking About PipeStack?</h2>#}
            {#</div>#}
        {#</div>#}
        {#<div class="row row-top">#}
            {#<div class="quote-block">#}
                {#<div class="span2">#}
                    {#<img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>#}
                {#</div>#}
                {#<div class="span4">#}
                    {#<blockquote>#}
                        {#<i class="icon-quote-right icon-2x pull-right"></i>#}
                        {#<span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>#}
                        {#<small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>#}
                    {#</blockquote>#}
                {#</div>#}
            {#</div>#}
            {#<div class="quote-block">#}
                {#<div class="span2">#}
                    {#<img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>#}
                {#</div>#}
                {#<div class="span4">#}
                    {#<blockquote>#}
                        {#<i class="icon-quote-right icon-2x pull-right"></i>#}
                        {#<span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>#}
                        {#<small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>#}
                    {#</blockquote>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="quote-block">#}
                {#<div class="span2">#}
                    {#<img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>#}
                {#</div>#}
                {#<div class="span4">#}
                    {#<blockquote>#}
                        {#<i class="icon-quote-right icon-2x pull-right"></i>#}
                        {#<span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>#}
                        {#<small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>#}
                    {#</blockquote>#}
                {#</div>#}
            {#</div>#}
            {#<div class="quote-block">#}
                {#<div class="span2">#}
                    {#<img src="{{ asset('testimonial-profile-brian.png') }}" alt="testimonial-brian" class="img-circle pull-right" width="125" height="125"/>#}
                {#</div>#}
                {#<div class="span4">#}
                    {#<blockquote>#}
                        {#<i class="icon-quote-right icon-2x pull-right"></i>#}
                        {#<span class=''>Swine ball tip corned beef, salami venison chicken bres aola beef pork chop short ribs turkey brisket meat loaf shoulder tongue. Andouille shank turkey shoulder jowla oaf.</span>#}
                        {#<small class="pull-right">Brian Anderson, <cite title="Source Title">CEO Ovooko</cite></small>#}
                    {#</blockquote>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    </div>
</section>
<div id="signup-blocks">
    <div class="container">
        <div class="row">
            <section class="span4">
                <div class='tile tile-signup'>
                    <h3>Try for Free</h3>
                    <p>Want to jump in? Start your 30 day free trial today. No payment information is required, just register and go.</p>
                    <a href="{{ path('cms_core.user_register', {'account_type':'free'}) }}" class="btn btn-xlarge btn-primary">Try for Free</a>
                </div>
            </section>
            <section class="span4">
                <div class="tile tile-signup">
                    <h3>Get Premium</h3>
                    <p>Sign up for a premium account and get your PipeStack instance today. Prices start at $60 per month for 15 gigs of storage.</p>
                    <a href="{{ path('cms_core.user_register', {'account_type':'premium'}) }}" class="btn btn-xlarge btn-info">Get Premium</a>
                </div>
            </section>
            <section class="span4">
                <div class="tile tile-signup">
                    <h3>Get Enterprise</h3>
                    <p>Sign up for an enterprise account for larger instances and priority customer support. Please <a href="mailto:support@pipestack.com">contact us</a> for more information. </p>
                    <a href="mailto:support@pipestack.com" class="btn btn-xlarge btn-danger"><span class="hidden-tablet">Get </span>Enterprise</a>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <footer class="row">
            <ul>
                <li><a href="#about">about</a></li>
                <li><a href="{{ path('cms_core.developers') }}">docs</a></li>
                <li><a href="mailto:support@pipestack.com">contact</a></li>
                <li><a href="#features">testimonial</a></li>
                <li><a href="#blog">blog</a></li>
            </ul>
        </footer>
    </div>
</div>
{% endblock %}