{#{% extends '::base.html.twig' %}#}
{% extends 'CmsCoreBundle:App:components.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CmsCoreBundle/Resources/public/css/site/new.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block title %}
    Create Site {{ parent() }}
{% endblock %}

{% block body %}
    {% block classicNavPrimary %}
        {{ parent() }}
    {% endblock %}
    <div class="container">
        <div id="primary-container">
            <div class="row-fluid">
                <div class="span4 offset4">
                    <h1>Create a New Site</h1>
                </div>
            </div>
            {% if notices|length > 1 %}
                <div class="row-fluid">
                    <div class="span4 offset4">
                        {% block notices %}
                            {{  parent() }}
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
            <div class="row-fluid">
                <form action="{{ path('cms_core.site_save') }}" method="POST" class="span4 offset4">
                    <input type="hidden" name="token" id="input-token" value="{{ token }}"/>
                    <div id="old-domain" class="row-fluid">
                        <label for="input-domain">Your Domain Name:</label>
                        <input type="text" name="domain" id="input-domain" class="span12 check-domian" placeholder="Enter your domain name here" value="{{ domain|default() }}" required=""/>
                        <span class="pull-right"><a href="http://www.godaddy.com" target="_blank" class="switch-domain-type">Get a new domain</a></span>
                    </div>
                    <div class="row-fluid">
                        <label for="name">Site Name:</label>
                        <input type="text" name="name" id="input-name" class="check-namespace span12" placeholder="Enter name here" value="{{ name|default() }}" required/>
                    </div>
                    <button class="btn btn-info pull-right">Create New Site</button>
                </form>
            </div>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    <input type="hidden" id="path-unique-namespace" value="{{ path('cms_core.site_unique_namespace') }}"/>
    <input type="hidden" id="path-unique-domain" value="{{ path('cms_core.site_unique_domain') }}"/>
{% endblock %}