{% extends 'CmsCoreBundle:App:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'flat-ui/js/bootstrap-select.js'
        '@CmsCoreBundle/Resources/public/js/contentType/read.js'
        filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}
    {{ contentType.name | title }}{{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="row-fluid">
        <div class="span8">
            <h1>{{ contentType.name |title }}s</h1>
        </div>
        <div class="span4" style="margin: 14px 14px;">
            <input type="search" style="height: 17px;" placeholder="Search for {{ contentType.name |title }}"/>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <select name="state" value="state" class="select-block span2">
                <option value="0">View All States</option>
                <option value="draft">Drafts</option>
                <option value="active">Published</option>
                <option value="scheduled">Scheduled</option>
            </select>
        </div>
        <div class="span2">
            <select name="month" value="month" class="select-block span2">
                <option value="0">Show All Dates</option>
            </select>
        </div>
        <div class="span2">
            <select name="category" value="category" class="select-block span2">
                <option value="0">View All Categories</option>
                {% for category in contentType.categories   %}
                    <option value="{{ category.parent }}">{{ category.parent }}</option>
                {% else %}
                    <option value="">None found</option>
                {% endfor %}
            </select>
        </div>
        <div class="span2">
            <select name="tag" value="tag" class="select-block span2">
                <option value="0">View All Tags</option>
                {% for tag in contentType.tags   %}
                    <option value="{{ category.tag }}">{{ category.tag }}</option>
                {% else %}
                    <option value="0">none found</option>
                {% endfor %}
            </select>
        </div>
        <div class="span2">
            <select name="author" value="author" class="select-block span2">
                <option value="0">View All Authors</option>
                {% for tag in contentType.tags   %}
                    <option value="{{ category.tag }}">{{ category.tag }}</option>
                {% else %}
                    <option value="0">none found</option>
                {% endfor %}
            </select>
        </div>
        <div class="span2">
            <button class="btn btn-primary btn-block">
                Filter
            </button>
        </div>
    </div>
{% endblock %}



{% block bodyCopy %}
    <h1>{{ contentType.name | title }}</h1>

    <legend>data</legend>
    <li>
        <ul>
            formats:
            {% for format in contentType.formats  %}
                {{ format }}
            {% endfor %}
        </ul>
        <ul>slug prefix: {{ contentType.slugPrefix }}</ul>
    </li>

    <legend>Nodes:</legend>
    <ul>
        {% for node in nodes  %}
            <li>
                <a href="{{ app.request.baseUrl }}/{{ node.slug }}">{{ node.title | title }}</a>
            </l1>
        {% endfor %}
    </ul>

    <form action="{{ path('cms_core.contentType_delete') }}" method="post">
        <input type="hidden" name="token" value="{{ token }}"/>
        <input type="hidden" name="id" value="{{ contentType.id }}"/>
        <input type="hidden" name="siteId" value="{{ site.id }}"/>
        <input type="submit" value="Delete ContentType"/>
    </form>

    <h3>Create a node</h3>
    <a href="{{ path('cms_core.node_new', {'siteId' : site.id, 'contentTypeId' : contentType.id }) }}">add a new node</a>

    <nav>
        <a href="{{ path('cms_core.site_read', {'id':site.id}) }}">Back to Site</a>
    </nav>

{% endblock %}