{% extends 'CmsCoreBundle:App:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'flat-ui/js/bootstrap-select.js'
        '@CmsCoreBundle/Resources/public/js/contentType/read.js'
        filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}
    {{ contentType.name | title }}{{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row" id="row-top">
        <div class="content-container span9">
            <div class="row">
                <div class="span3">first</div>
                <div class="span3">second</div>
                <div class="span3">third</div>
            </div>
        </div>
    </div>
{% endblock %}



{% block bodyCopy %}
    <h1>{{ contentType.name | title }}</h1>

    <legend>data</legend>
    <li>
        <ul>
            formats:
            {% for format in contentType.formats  %}
                {{ format }}
            {% endfor %}
        </ul>
        <ul>slug prefix: {{ contentType.slugPrefix }}</ul>
    </li>

    <legend>Nodes:</legend>
    <ul>
        {% for node in nodes  %}
            <li>
                <a href="{{ app.request.baseUrl }}/{{ node.slug }}">{{ node.title | title }}</a>
            </l1>
        {% endfor %}
    </ul>

    <form action="{{ path('cms_core.contentType_delete') }}" method="post">
        <input type="hidden" name="token" value="{{ token }}"/>
        <input type="hidden" name="id" value="{{ contentType.id }}"/>
        <input type="hidden" name="siteId" value="{{ site.id }}"/>
        <input type="submit" value="Delete ContentType"/>
    </form>

    <h3>Create a node</h3>
    <a href="{{ path('cms_core.node_new', {'siteId' : site.id, 'contentTypeId' : contentType.id }) }}">add a new node</a>

    <nav>
        <a href="{{ path('cms_core.site_read', {'id':site.id}) }}">Back to Site</a>
    </nav>

{% endblock %}