{% extends 'CmsCoreBundle:App:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CmsCoreBundle/Resources/public/css/template/menu.css'
        filter='cssrewrite, ?yui_css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/dependencies/ace-builds-master/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    {% javascripts
        '@CmsCoreBundle/Resources/public/js/template/menu.js'
        filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}
    Menus {{ site.name }} {{ parent() }}
{% endblock %}

{% block content %}
    <article>
        <section class="row-fluid">
            <div class="span6">
                <h1>Menus and Components</h1>
            </div>
        </section>
        <section class="row-fluid">
            <div class="span9">
                {% block notices %}
                    {{ parent() }}
                {% endblock %}
                <form id="save-template-form" action="{{ path('cms_core.template_save') }}" method="POST">
                    <input type="hidden" name="token" id="input-token" value="{{ token }}"/>
                    <input type="hidden" name="type" id="input-template-type" value="menu"/>
                    <div id='input-code-content'>{{ code }}</div>
                    <div class="row-fluid">
                        <button class="btn btn-info span2 pull-right" style="position: relative; left: 4px;">Save</button>
                    </div>
                </form>
            </div>
            <div class="span3">
                <div class="holder holder-includes">
                    <h4 class="clearfix">
                        <b class="pull-left">Inheritance</b>
                        <span class="pull-right">
                            <a href="#edit" class="edit-inherit">edit</a> |
                            <a href="#add" class="add-inherit">add</a>
                        </span>
                    </h4>
                    <b>Extends:</b>
                    <ul>
                        <li>{{ extends }}</li>
                    </ul>
                    <b>Uses:</b>
                    <ul id="primary-include-list">
                        {% for use in uses  %}
                            <li class="included-item">{{ use }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        {% block footer %}
            {{ parent() }}
        {% endblock %}
    </article>
    <input type="hidden" id="code-save-path" value="{{ path('cms_core.template_save') }}"/>
    <input type="hidden" id="site-id" value="{{ site.id }}"/>
    <input type="hidden" id="template-id" value="{{ template.id }}"/>
{% endblock %}
