{% extends 'CmsCoreBundle:App:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CmsCoreBundle/Resources/public/css/node/read.css'
        filter='cssrewrite, ?yui_css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@CmsCoreBundle/Resources/public/js/node/read.js'
        '@CmsCoreBundle/Resources/public/js/node/nodeUrlHandler.js'
        'flat-ui/js/flatui-radio.js'
        filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}
    {% if node is defined %}
        {{ node.title|title }}
     {% else %}
        Create a New {{ contentType.name|title }}
    {% endif %}
{% endblock %}

{% block content %}
    <section class="row-fluid">
        <div class="span6">
            {% if node is defined %}
                <h1>Edit {{ node.title|title }}</h1>
             {% else %}
                 <h1>Create a New {{ contentType.name | title }}</h1>
            {% endif %}
        </div>
        <div class="span3 hide" id='notice-container'>
            {% block notices %}{{ parent() }}{% endblock %}
        </div>
    </section>
    <div class="row-fluid">
        <div class="span9">
            <form action="{{ path('cms_core.node_save') }}" method="post">
                <input type="hidden" name="token" value="{{ token }}"/>
                <input type="hidden" name="id" value="{{ node.id|default() }}"/>
                <input type="hidden" name="siteId" value="{{ site.id }}"/>
                <input type="hidden" name="contentTypeId" value="{{ contentType.id }}"/>
                <input type="hidden" name="contentTypeName" value="{{ contentType.name }}"/>
                <input type="hidden" name="format" value="single"/>
                <input type="hidden" name="authorName" value="{{ user.name('first_last') }}"/>
                <input type="hidden" name="templateName" value="{{ site.name }}:Master:Single"/>
                <input type="hidden" name="slugPrefix" value="{{ contentType.slugPrefix }}"/>
                <input type="hidden" id="domain" name="domain" value="{% if node.domain is defined %}{{ node.domain }}{% else %}{{ site.domains[0] }}{% endif %}" />
                <input type="hidden" id='slug' name="slug" value="{{ node.slug|default() }}" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,64}$" placeholder="slug" required/>
                <div id="url-container">
                    <span id="domain-container" class="label label-info">
                        {% if node.domain is defined %}
                            {{ node.domain }}
                        {% else %}
                            {{ site.domains[0] }}
                        {% endif %}
                    </span> / <span id="slug-prefix-container" class="label label-info">{{ contentType.slugPrefix|trim('/') }}</span> / <span id="slug-container" class="label label-info">{{ slug|default() }}</span>
                </div>
                <div class="row-fluid hide" id="domain-selector-container">
                    <div class="span4">
                        <div id="domain-selector">
                            {% for domain in site.domains  %}
                                <label class="radio radio-domain">
                                    <input type="radio" name="domainSelector" data-domain="{{ domain }}"  value="{{ domain }}" data-toggle="radio"
                                       {% if node.domain is defined %}
                                           {% if node.domain == domain %}checked{% endif %}
                                        {% endif %}
                                    >{{ domain }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row-fluid hide" id="slug-selector-container">
                    <div class="span4">
                        <div id="slug-selector">
                            <label class="radio radio-slug" data-slug-type="title">
                                <input type="radio" name="slugType" data-toggle="radio"
                                {% if isTitleSlug %}checked{% endif %}
                                />Use the title
                            </label>
                            <label class="radio radio-slug" data-slug-type="custom">
                                <input type="radio" name="slugType" data-toggle="radio"
                                {% if not isTitleSlug %}checked{% endif %}
                                /> Use a custom slug
                            </label>
                            <input type="text" name="customSlug" placeholder="custom slug" id='input-custom-slug' value="{{ slug }}" {% if isTitleSlug %}class="span8 hide"{% else %}class="span8"{% endif %}/>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <input type="text" name="title" value="{% if node is defined %}{{ node.title }}{% else %}{{ title|default() }}{% endif %}" id="title" data-slug-title='on' class="span12" pattern="^[a-zA-Z][a-zA-Z0-9- \.]{1,64}$" title="title can only contain letters, numbers and spaces. It must be less than 64 characters." placeholder="Title" required/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <textarea name="viewHtml" id="view-html" class="span12" placeholder="Add your content here" required>{% if node is defined %}{{ node.views['html'] | default() }}{% else %}{{ viewHtml|default()}}{% endif %}</textarea>
                    </div>
                </div>
                <p><input type="submit" value="Save" class="btn btn-large btn-info pull-right"/></p>
            </form>
        </div>
        <div class="span3">
        </div>
    </div>

    <nav>
        <a href="{{ path('cms_core.contentType_read', {'id':contentType.id, 'siteId':site.id}) }}">Back to {{ contentType.name|title }}</a>
    </nav>
{% endblock %}