{% extends 'CmsCoreBundle:App:base.html.twig' %}

{% block body %}
    <article>
        <h1>All Themes</h1>

        <ul>
            {% for theme in themes  %}
                <li>
                    <a href="{{ path('cms_core.theme_read', {'id':theme.id}) }}">{{ theme.name }}</a>

                    <form action="{{ path('cms_core.theme_delete') }}" method="post">
                        <input type="hidden" name="token" value="{{ token }}"/>
                        <input type="hidden" name="id" value="{{ theme.id }}"/>
                        <input type="submit" value="x"/>
                    </form>
                </li>
            {% else %}
                <b>no themes found</b>
            {% endfor %}
        </ul>

        <section>
            <a href="{{ path('cms_core.theme_new') }}">Create A New Theme</a>
        </section>

    </article>


{% endblock %}