{% extends 'CmsCoreBundle:Theme:wizardComponents.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@CmsCoreBundle/Resources/public/js/theme/wizardBasic.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% block templateModal %}
        {{ parent() }}
    {% endblock %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                {% block todo %}
                    {{ parent() }}
                {% endblock %}
            </div>
            <section class="span9">
                <div id="#error-container"></div>
                <div id="wizard-content">
                    <div class="row-fluid wizard-header">
                        <div class="span12 clearfix">
                            <div class="progress pull-left span6">
                                <div class="bar span6"></div>
                            </div>
                            <div class="span2 progress-label" id="primary-progress-label">
                                <span class="percent-complete">45%</span> Complete
                            </div>
                            <a href="{{ path('cms_core.themeOrg_readAll', {'themeOrgId':theme.id}) }}" class="close">&times;</a>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="wizard-body span12">
                            <div class="wizard-body-item theme-basic flat-form-container">
                                <form id="theme-basic-form" class="wizard-form">
                                    <input type="hidden" name="themeOrgId" id="input-theme-org-id" value="{{ themeOrg.id }}"/>
                                    <input type="hidden" name="themeId" id="input-theme-id" value="{{ theme.id|default() }}"/>
                                    <label for="input-theme-name">Theme Name:*</label>
                                    <input type="text" class="span12" id="input-theme-name" value="{{ theme.name|default() }}" placeholder="Type the name of your new theme"/>
                                    <label for="input-theme-image">Screenshot URL:</label>
                                    <input type="text" class="span12" id="input-theme-image" value="{{ theme.image|default() }}" placeholder="Add the URL to a screenshot image (can skip for now)"/>
                                    <label for="input-theme-description">Description:</label>
                                    <textarea id="input-theme-description" class="span12" placeholder="Write a brief description of this theme" rows="8">{{ theme.description|default() }}</textarea>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="wizard-footer">
                            <button class="btn btn-primary wizard-save wizard-previous pull-left" id="author-form-submit" data-current="theme-basic" disabled="true">Previous</button>
                            <button class="btn btn-primary wizard-save wizard-next pull-right" data-current='theme-basic'>Save and Proceed</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <input type="hidden" id="save-theme-path" value="{{ path('cms_core.theme_wizard_save') }}"/>
    <input type="hidden" id="base-url" value="{{ app.request.baseUrl }}"/>
{% endblock %}
