{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CmsCoreBundle/Resources/public/css/app/base.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>#}
    <script src="/dependencies/jqueryui-1.10.3.min.js"></script>
{% endblock %}

{% block notices %}
    {% if notices is not empty %}
        <aside>
            {% for notice in notices  %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" style='color: white'>&times;</button>
                    <i class="icon-bullhorn" style="margin-right: 5px;"></i> {{ notice }}
                </div>
            {% endfor %}
        </aside>
    {% endif %}
{% endblock %}

{% block classicNavPrimary %}
<nav class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
            <div class="nav-collapse collapse" id="nav-collapse-01">
                <ul class="nav">
                    <li class="brand">
                        <a href="{{ path('cms_core.site_read', {'id': site.id}) }}"><img src="" alt="" width="120" height="12.75"/></a>
                    </li>
                    <li class="active">
                        <a href="#fakelink">
                            Admin Panel
                        </a>
                    </li>
                    <li><a href="#fakeLink">Visit Site</a></li>
                    <li>
                        <a href="#fakelink">
                            New
                        </a>
                        <ul>
                            <li><a href="#fakelink">Element One</a></li>
                            <li>
                                <a href="#fakelink">Sub menu</a>
                                <ul>
                                    <li><a href="#fakelink">Element One</a></li>
                                    <li><a href="#fakelink">Element Two</a></li>
                                    <li><a href="#fakelink">Element Three</a></li>
                                </ul> <!-- /Sub menu -->
                            </li>
                            <li><a href="#fakelink">Element Three</a></li>
                        </ul> <!-- /Sub menu -->
                    </li>
                    <li>
                        <a href="#fakelink">
                            About Us
                        </a>
                    </li>
                </ul>
            </div><!--/.nav -->
        </div>
    </div>
</nav>
{% endblock %}

{% block classicNavAdmin %}
<nav class="sidebar-nav hidden-phone">
    <ul class="nav nav-list">
        <li><a href="{{ path('cms_core.site_read', {'id':site.id}) }}"><i class="icon-home"></i> Dashboard</a></li>
        <li class="divider"></li>
        {% for contentType in site.contentTypes   %}
            {% if 'single' in contentType.formats %}
                <li><a href="{{ path('cms_core.contentType_read', {'siteId':site.id, 'id':contentType.id}) }}"><i class="icon-pushpin"></i> {{ contentType.name | title }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="{{ path('cms_core.content_manager_static_readAll', {'siteId':site.id}) }}"><i class="icon-file-text"></i> Pages</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('cms_core.media_readAll', {'siteId':site.id}) }}"><i class="icon-camera-retro"></i> Media</a></li>
        <li><a href="#"><i class="icon-comments"></i> Comments</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('cms_core.settings_theme_current', {'siteId':site.id}) }}"><i class="icon-eye-open"></i> Theme</a></li>
        <li><a href="{{ path('cms_core.content_manager_readAll', {'siteId':site.id}) }}"><i class="icon-book"></i> Content</a></li>
        <li><a href="{{ path('cms_core.template_menu', {'siteId':site.id}) }}"><i class="icon-list-ul"></i> Menus</a></li>
        <li><a href="{{ path('cms_core.asset_readAll', {'siteId':site.id}) }}"><i class="icon-css3"></i> Css/Js</a></li>
        <li><a href="{{ path('cms_core.site_settings', {'id':site.id | default()}) }}"><i class="icon-cog"></i> Settings</a></li>
        <li><a href="#"><i class="icon-group"></i> Users</a></li>
    </ul>
</nav>
{% endblock %}

{% block footer %}
    <div class="row-fluid">
        <footer id='primary-footer'>
            <div class="span10">
                <ul>
                    <li>Thanks for publishing your content on <a href="{{ path('_welcome') }}">PipeStack</a></li>
                    <li>|</li>
                    <li>Need a hand? <a href="#">Get Help</a></li>
                </ul>
            </div>
            <div class="span2">
                Using version Alpha - 1.0
            </div>
        </footer>
    </div>
{% endblock %}

{% block mediaModal %}
    <div class="modal modal-big hide" id="media-modal-container">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <ul id="media-modal-options">
                <li><a href="#library-media" class="media-load-library"><i class="icon-cloud" style="color:white"></i> Library</a></li>
                <li><a href="#upload-media" class="media-load-upload"><i class="icon-upload-alt" style="color:white"></i> Add New File</a></li>
            </ul>
        </div>
        <div class="modal-body row-fluid" id="media-library-container">
            <h3 id="media-modal-loader">Loading media...</h3>
            <div class="span9">
                <div class="row-fluid">
                    <div class="span4" id="media-modal-search">
                        <form id='form-media-modal-filter'>
                            <input type="text" class="span12" id="media-modal-input-search" placeholder="Search"/>
                        </form>
                    </div>
                    <div class="span2">
                        <select name="type" class="select-block span3" id='media-modal-input-type' style="z-index: 99999">
                            <option value="">Types</option>
                            <option value="image">Images</option>
                            <option value="audio">Audio</option>
                            <option value="video">Video</option>
                        </select>
                    </div>
                    <div class="span2">
                        <button class="btn btn-info span12 media-modal-filter"><i class="icon-filter"></i> Filter</button>
                    </div>
                    <div class="span4">
                        <button class="btn btn-inverse media-modal-pag-previous span4"><i class="icon-chevron-left"></i> Prev</button>
                        <button class="btn btn-inverse media-modal-pag-next span4">Next <i class="icon-chevron-right"></i></button>
                    </div>
                </div>
                <div id="primary-media-data-container" class="row-fluid" style="min-height: 200px"></div>
                <input type="hidden" id="media-modal-input-page" value="1"/>
            </div>
            <div class="span2">
                <div id="primary-media-editor" class="row-fluid"></div>
            </div>
        </div>
        <div class="modal-body hide row-fluid" id="media-uploader-container">
            <iframe frameborder="0" id="media-upload-iframe" width="100%" height="405"></iframe>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-info insert-media" data-editor='tinyMCE'>Insert</a>
        </div>
    </div>
{% endblock %}

{% block templateIncludes %}
    <div class="holder holder-includes">
        <h4 class="clearfix">
            <b class="pull-left">Includes</b>
            <span class="pull-right">
                <a href="#edit" class="edit-includes-action edit-includes">edit</a> <span class="add-includes">|</span>
                <a href="#add" class="add-includes">add</a>
            </span>
        </h4>
        <b>Extends:</b>
        <ul id="primary-extends-list">
            <li class="included-item" data-include-type="extends" data-template-name="{{ extends }}">
                <a href="#">{{ extends }}</a>
            </li>
        </ul>
        <b>Uses:</b>
        <ul id="primary-include-list">
            {% for use in uses  %}
                <li class="included-item" data-include-type="use" data-template-name="{{ use }}">
                    <a href="#">{{ use }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block templateModal %}
    <div class="modal hide" id="template-modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>
                <a href="#repo" class="template-modal-show-repo template-modal-nav template-modal-active-anchor">Repository</a> |
                {% if site is defined %}
                    <a href="{{ path('cms_core.template_new') }}" target="_blank" class="template-modal-nav">Create</a> |
                {% endif %}
                <a href="#depot" class="template-modal-show-depot template-modal-nav">Depot</a>
            </h4>
        </div>
        <div class="modal-body" id="template-modal-repo">
            <table class="table-hover">
                {% if site is defined %}
                    {% for template in site.templateNames  %}
                        <tr data-template-name="{{ template }}">
                            <td>{{ template }}</td>
                            <td>
                                <a href="#preview">preview</a>
                            </td>
                            <td>
                                <a href="#extend" class="include-new-extends">extend</a>
                            </td>
                            <td>
                                <a href="#use" class="include-new-use">use</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <h3>Themer's Repo</h3>
                        <p>Here, the themer will be able to select from a list of add-ons which are available. The themer can also purchase core components from the PipeStack Depot to add to their repo. Coming soon...</p>
                    </tr>
                {% endif %}
            </table>
        </div>
        <div class="modal-body hide" id="template-modal-depot">
            <h4>The Depot</h4>
            <p>Think of the depot as an app store for PipeStack templates, add-ons and plugins. Here, you'll be able to find thrid party templates to add to your repo and include into your code.</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">close</a>
        </div>
    </div>
{% endblock %}