{% extends 'CmsCoreBundle:App:base.html.twig' %}

{% block title %}App Home | PipeStack Cms{% endblock %}

{% block body %}
    <section>
        <h1>Welcome To The App {{ user.email }}</h1>
        <p>
            Select some stuff here and do some stuff here while you're at it
        </p>
    </section>

    <section>
        <h2>Your Sites</h2>
        {% block notices %}{% endblock %}
        <ol>
            {% for site in sites  %}
                <li>
                    <a href="{{ path('cms_core.site_read', {'id':site.id}) }}">{{ site.name }}</a>
                    <form action="{{ path('cms_core.site_delete') }}" method="post">
                        <input type="hidden" name="id" value="{{ site.id }}"/>
                        <input type="submit" value="Delete"/>
                    </form>
                </li>
            {% endfor %}
        </ol>
        <form action="{{ path('cms_core.site_save') }}" method="post">
            <input type="hidden" name="token" value="{{ token }}" />
            <label for="name">Add a New Site: </label>
            <input type="text" name="name" placeholder="name" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{3,63}$" required/>
            <input type="submit" value="Create"/>
        </form>
    </section>

    <section>
        <a href="{{ path('cms_core.template_readAll') }}">View Templates</a>
    </section>
{% endblock %}