{% extends 'CmsCoreBundle:App:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CmsCoreBundle/Resources/public/css/admin/loop.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'flat-ui/js/bootstrap-select.js'
        '@CmsCoreBundle/Resources/public/js/assets/index.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}
    {{ site.name|title }} Assets {{ parent() }}
{% endblock %}

{% block content %}
    <section class="row-fluid">
        <div class="span4" id="header">
            <h1>CSS and JS Assets</h1>
            <a href="{{ path('cms_core.asset_new', {'siteId':site.id}) }}" id="add-new"><i class="icon-plus-sign"></i> Add New</a>
        </div>
        <form class="span4 offset2" id="search-form">
            <form class="span12 pull-right" id="search-form">
                <input type="search" id="search" class="span12" value="{{ search|default() }}" placeholder="Search"/>
            </form>
        </form>
        <div class="span2" style="margin-top: 4px;">
            <select name="state" class="select-block span2" id='input-ext'>
                <option value="">View Type</option>
                <option value="">All</option>
                <option value="js" {% if type == 'js' %}selected{% endif %}>Javascripts</option>
                <option value="css" {% if type == 'css' %}selected{% endif %}>Stylesheets</option>
            </select>
        </div>
    </section>
    <section class="row-fluid">
        <div class="span12">
            {% block notices %}{{ parent() }}{% endblock %}
            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Url</th>
                    <th>Type</th>
                    <th>Edit</th>
                    <th>Trash</th>
                </tr>
                {% for asset in assets  %}
                <tr>
                    <td>
                        <a href="{{ path('cms_core.asset_read', {'id':asset.id}) }}">{{ asset.name }}</a>
                    </td>
                    <td>
                        {{ asset.url }}
                    </td>
                    <td>
                        {% if asset.ext == 'js' %}
                            Javascript
                        {% endif %}
                        {% if asset.ext == 'css' %}
                            Stylesheet
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('cms_core.asset_read', {'id':asset.id}) }}" class="btn btn-info">Edit</a>
                    </td>
                    <td>
                        <form action="{{ path('cms_core.asset_delete') }}" method="POST">
                            <input type="hidden" name="token" id="input-token" value="{{ token }}"/>
                            <input type="hidden" name="id" id="input-id" value="{{ asset.id }}"/>
                            <button class="btn btn-danger">Trash</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    <nav class="row-fluid" style="text-align: center">
        <button class="btn btn-inverse page-previous" {% if page == 1 %}disabled{% endif %}><i class="icon-chevron-left"></i> Prev</button>
        <button class="btn btn-inverse page-next" {% if not nextPage %}disabled{% endif %}>Next <i class="icon-chevron-right"></i></button>
    </nav>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    <input type="hidden" id="site-id" value="{{ site.id }}"/>
    <input type="hidden" id="input-page" value="{{ page }}"/>
    <input type="hidden" id="input-limit" value="{{ limit }}"/>
    <input type="hidden" id="path" value="{{ path('cms_core.asset_readAll', {siteId: site.id}) }}"/>
{% endblock %}